# Dependencies
node_modules/
dist/

# Environment variables
.env
*.env
.env.local

# Firebase
.firebase/
firestore-debug.log
ui-debug.log

# Java/Gradle (מה שהופיע ב-status שלך)
.gradle/
build/

# IDEs
.vscode/
.idea/